@import "tailwindcss";

:root {
  --color-primary: rgb(244, 29, 97);
  --color-primary-50: rgb(255, 232, 241);
  --color-primary-100: rgb(255, 189, 217);
  /*--color-primary: #f41d61;*/
}

.bg-primary {
  background-color: var(--color-primary);
}
.bg-primary-100{
  background-color: var(--color-primary-100);
}
.bg-primary-hover {
  background-color: var(--color-primary-50);
}

.bg-primary-50 {
  background-color: rgb(251, 233, 237);
}

.color-primary{
    color: var(--color-primary);
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Display', 'SF Pro Text', 'Helvetica Neue', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
